*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: ghostwhite;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin-inline: 20px;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: transparent;
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
}
.container{
    text-align: center;
}
.container #timer{
    margin-bottom: 50px;
    font-size: 70px;
    color: #0d1b2a;
}
.container #play{
    background-color: #0d1b2a;
    border: none;
    font-weight: bold;
    color: white;
}
.container #pause, .container #reset{
    border: 2px #0d1b2a solid;
    color: #0d1b2a;
}
